@import './_variables'

page
  height 100%
  font-size layout-font-size
  color default-text-color
  background body-background-color
.container
  height 100%
  display flex
  flex-direction column
  box-sizing border-box
  margin-left 28rpx
  margin-right 28rpx
  .above__box
    margin-top 18rpx
  .below__box
    width 100%
    margin-top 60rpx
    background-color white
    border-radius 30rpx 30rpx 0 0